/*
 * HTML styles
 */

html {
    box-sizing: border-box;
    user-select: none;
    /* This lets starfield background  */
    position: relative;
    /* extend for the whole document   */
    min-height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Coda', cursive;
    color: #fff;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Black Ops One', cursive;
    font-weight: 300;
}

/*
 * Heading styles
 */

.swg-starwars {
    margin-top: -45px;
    margin-bottom: -46px;
    float: left;
    margin-right: 30px;
    font-size: 8em;
}

.head-text {
    color: #000;
    text-shadow: 2px 2px 5px #fff, -2px -2px 5px #fff, 2px -2px 5px #fff, -2px 2px 5px #fff;
    font-size: 1.5em;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(360deg);
    background: #fff;
    color: #000;
    cursor: default;
    transition: 0.3s ease;
}

.deck .card.show {
    font-size: 55px;
}

.deck .card.match {
    cursor: default;
    background: #8ae4ff;
    font-size: 55px;
}

.deck .card.unmatch {
    cursor: default;
    background-color: #f00;
    font-size: 55px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer {
    text-align: center;
    display: inline-block;
    width: 50%;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 * Styles for Game Over message
 */

.game-over {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    vertical-align: middle;
    overflow: hidden;
}

.game-over .game-over-text {
    text-align: center;
    margin: auto;
    font-family: 'Concert One', cursive;
    text-shadow: 2px 2px 15px #000, -2px -2px 15px #000, -2px 2px 15px #000, 2px -2px 15px #000;
}

.game-over .game-over-text .play-again {
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 20px;
    font-size: 1.5em;
    box-shadow: 3px 3px 5px #000;
    padding: 10px;
    font-family: 'VT323', monospace;
    display: block;
    clear: both;
    margin: 30px auto;
}

.game-over .game-over-text .play-again:hover {
    box-shadow: 3px 3px 5px #f00;
}

.game-over .game-over-text .play-again:focus {
    outline: 0;
}

.game-over .game-over-text .play-again:active {
    box-shadow: none;
    transition: box-shadow 0.2s ease;
}

.game-over .game-over-text .final-score {
    display: inline;
    margin: 0;
}

.game-over .game-over-text .final-stats {
    margin: auto;
    text-align: center;
}

/* Make app responsive */

@media screen and (max-width: 600px) {
    /* Hide board background on mobile and small screens, and make game board responsive */
    .deck {
        width: 100%;
    }

    /* Change card size fr mobile and small screens */
    .deck .card {
        height: 108px;
        width: 108px;
    }

    /* Make score panel responsive at lower screen sizes, add margin to sides */
    .score-panel {
        width: 100%;
        padding-right: 10%;
        padding-left: 10%;
    }

    /* Change font-size and icon size for heading */
    header {
        font-size: 0.5em;
        text-align: center;
    }
    .swg-starwars {
        margin-top: -25px;
    }
}

/* Break points for even smaller screens */
@media screen and (max-width: 495px) {
    .deck .card {
        position: relative;
        top: -30px;
        width: 98px;
        height: 98px;
    }
}

@media screen and (max-width: 456px) {
    .deck .card {
        width: 88px;
        height: 88px;
    }
}

@media screen and (max-width: 416px) {
    .deck .card {
        width: 78px;
        height: 78px;
    }
}

@media screen and (max-width: 375px) {
    .deck .card {
        width: 68px;
        height: 68px;
    }
}

@media screen and (max-width: 335px) {
    .deck .card {
        width: 58px;
        height: 58px;
    }
}

@media screen and (max-width: 295px) {
    .deck .card {
        width: 48px;
        height: 48px;
    }
}